:root {
  min-height: 100vh;
  background-image: linear-gradient(#ccccff, #edace0);
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap') format('truetype');
  font-weight: 500;
  font-style: normal;
}
 
body{
  font-family: 'Montserrat', sans-serif;
}

.homePage-container{
  display: flex;
  height: 200px;
  align-items: start;
}

.home{
  cursor: pointer;
}

.coinButton {
  margin-left: 10px;
  margin-right: 10px;
}

.seeWallet {
  margin-top: 20px;
}

.currentPrice {
  margin-top: 10px;
}

.walletList {
  width: 50vw;
  left: 0;
  list-style: none;
  column-count: 1;
  column-gap: 20px;
}

.walletList li{
  margin-bottom: 10px;
}

.deleteMenu {
  position: relative;
}

.deleteMenuButton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;

}

.deleteMenuButton:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
}

.deleteList {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  list-style: none;
  padding: 0;
  margin: 0;
}

.deleteList li {
  padding: 10px;
  cursor: pointer;
  flex-direction: column;
  column-count: 1;
}

.deleteList li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
